n8n-workflows/stage-3-scoring.json
{
  "name": "emails from pavel.systems",
  "nodes": [
    {
      "parameters": {
        "sendTo": "ugamochi.pavel@gmail.com",
        "subject": "=🔥 New Lead: {{ $json.name }}",
        "message": "=<div style=\"font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif; max-width: 600px;\">   <h2 style=\"color: #a17ff7; background: #0b0b0b; padding: 20px; margin: 0;\">     🔥 New Lead from pavel.systems   </h2>    <div style=\"background: #f5f5f5; padding: 20px; border-left: 4px solid #a17ff7;\">     <p style=\"margin: 0 0 10px 0;\"><strong>Name:</strong> {{ $json.name }}</p>     <p style=\"margin: 0 0 10px 0;\"><strong>Email:</strong> <a href=\"mailto:{{ $json.email }}\">{{ $json.email }}</a></p>     <p style=\"margin: 0 0 10px 0;\"><strong>Company:</strong> {{ $json.company || 'Not provided' }}</p>     <p style=\"margin: 0 0 10px 0;\"><strong>Message:</strong></p>     <p style=\"background: white; padding: 15px; border-radius: 4px; white-space: pre-wrap;\">{{ $json.message || 'No message provided' }}</p>   </div>    <div style=\"background: #e8e8e8; padding: 15px; margin-top: 20px;\">     <p style=\"margin: 0 0 5px 0; font-size: 12px; color: #666;\">       <strong>Timestamp:</strong> {{ $json.timestamp }}     </p>     <p style=\"margin: 0 0 5px 0; font-size: 12px; color: #666;\">       <strong>Source:</strong> {{ $json.source }}     </p>   </div>    <div style=\"margin-top: 20px; padding: 15px; background: #a17ff7; text-align: center;\">     <a href=\"mailto:{{ $json.email }}\" style=\"color: #0b0b0b; text-decoration: none; font-weight: 600;\">       📧 Reply to this lead     </a>   </div> </div>",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        448,
        0
      ],
      "id": "47fbd560-366f-425f-a0f5-1adefb0dbb80",
      "name": "send message to me",
      "webhookId": "d60986a0-cd21-4d39-ac25-7b042471fd32",
      "credentials": {
        "gmailOAuth2": {
          "id": "0sOpcmeYJlOi6ET3",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $('create fields').item.json.email }}",
        "subject": "=Thanks for reaching out, {{ $('create fields').item.json.name }}!",
        "message": "=<div style=\"font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif; max-width: 600px; margin: 0 auto;\">   <div style=\"background: #0b0b0b; padding: 30px; text-align: center;\">     <h1 style=\"color: #a17ff7; font-family: 'JetBrains Mono', monospace; font-size: 18px; margin: 0;\">       pavel<span style=\"color: #a17ff7;\">.</span>systems     </h1>   </div>    <div style=\"padding: 30px; background: #f9f9f9;\">     <p style=\"font-size: 16px; line-height: 1.6; color: #333;\">       Hi <strong>{{ $('create fields').item.json.name }}</strong>,     </p>      <p style=\"font-size: 16px; line-height: 1.6; color: #333;\">       Thanks for getting in touch! I received your message{{ $('create fields').item.json.company ? ' about automation for <strong>' + $('create fields').item.json.company + '</strong>' : '' }}.     </p>      <p style=\"font-size: 16px; line-height: 1.6; color: #333;\">       I'll review your situation and reach out within <strong>24 hours</strong> with some initial thoughts and next steps.     </p>      <p style=\"font-size: 16px; line-height: 1.6; color: #333;\">       In the meantime, feel free to check out case studies and resources on       <a href=\"https://pavel.systems\" style=\"color: #a17ff7; text-decoration: none; font-weight: 600;\">pavel.systems</a>.     </p>      <div style=\"margin-top: 30px; padding-top: 20px; border-top: 1px solid #ddd;\">       <p style=\"font-size: 14px; line-height: 1.6; color: #666; margin: 0;\">         Talk soon,<br>         <strong>Pavel Ugamoti</strong><br>         Agentic Architect<br>         <a href=\"https://pavel.systems\" style=\"color: #666; text-decoration: none;\">pavel.systems</a>       </p>     </div>   </div>    <div style=\"background: #e8e8e8; padding: 15px; text-align: center;\">     <p style=\"font-size: 12px; color: #999; margin: 0;\">       This is an automated confirmation. I'll personally respond to your inquiry soon.     </p>   </div> </div>",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        672,
        0
      ],
      "id": "048500b8-8190-486c-9f88-2a897150d3c9",
      "name": "send message to client",
      "webhookId": "fe1611db-a4d4-4f32-9e7d-0081cfc2e083",
      "credentials": {
        "gmailOAuth2": {
          "id": "0sOpcmeYJlOi6ET3",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\"name\": \"{{ $json.body && $json.body.name ? $json.body.name : ($json.name || '') }}\", \"email\": \"{{ $json.body && $json.body.email ? $json.body.email : ($json.email || '') }}\", \"company\": \"{{ $json.body && $json.body.company ? $json.body.company : ($json.company || '') }}\", \"message\": \"{{ $json.body && $json.body.message ? $json.body.message : ($json.message || '') }}\", \"timestamp\": \"{{ $json.body && $json.body.timestamp ? $json.body.timestamp : ($json.timestamp || '') }}\", \"source\": \"{{ $json.body && $json.body.source ? $json.body.source : ($json.source || '') }}\", \"userAgent\": \"{{ $json.body && $json.body.userAgent ? $json.body.userAgent : ($json.userAgent || '') }}\", \"referrer\": \"{{ $json.body && $json.body.referrer ? $json.body.referrer : ($json.referrer || '') }}\"}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        224,
        0
      ],
      "id": "102ad8cf-f9b2-4e48-8ed7-cf36b8bd6060",
      "name": "create fields"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "lead-form",
        "options": {
          "responseCode": {
            "values": {}
          },
          "responseData": "{\"success\": true, \"message\": \"Thanks! We'll be in touch soon.\"}"
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "37eb0fe1-4603-420f-9a47-723cdcfff08d",
      "name": "form submission from pave systems",
      "webhookId": "d392bf2e-2263-4502-84c8-3d77a4d7044c"
    },
    {
      "parameters": {
        "resource": "sheet",
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "__GSHEET_DOCUMENT_ID__",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "__GSHEET_SHEET_NAME__",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": []
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        448,
        -220
      ],
      "id": "a3f8dc80-d75e-4d8a-a6f3-c9878f799f4c",
      "name": "log lead to sheets",
      "alwaysOutputData": true,
      "continueOnFail": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "__GSHEET_CREDENTIAL_ID__",
          "name": "__GSHEET_CREDENTIAL_NAME__"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "__OPENAI_API_URL__",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer __OPENAI_API_KEY__"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ {\n  \"model\":\"__OPENAI_MODEL__\",\n  \"temperature\":0.2,\n  \"response_format\":{\"type\":\"json_object\"},\n  \"messages\":[\n    {\n      \"role\":\"user\",\n      \"content\":\n        \"Score this inbound B2B lead. Return strict JSON only with keys: score (0-100 integer), priority (hot|warm|cold), reason (max 25 words). \" +\n        \"Lead data -> Name: \" + ($('create fields').item.json.name || \"\") +\n        \" | Email: \" + ($('create fields').item.json.email || \"\") +\n        \" | Company: \" + ($('create fields').item.json.company || \"\") +\n        \" | Message: \" + ($('create fields').item.json.message || \"\") +\n        \" | Source: \" + ($('create fields').item.json.source || \"\")\n    }\n  ]\n} }}",
        "options": {
          "timeout": 15000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        448,
        -440
      ],
      "id": "9a4d4d6e-9b2f-4f80-9a4b-8b5e51b2a001",
      "name": "score lead with ai",
      "alwaysOutputData": true,
      "continueOnFail": true
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={{ (() => {\n  const lead = $('create fields').item.json || {};\n  const message = (lead.message || '').toString();\n  const messageLower = message.toLowerCase();\n  const emailLower = (lead.email || '').toString().toLowerCase();\n\n  const keywordSignals = [\n    'private label rights',\n    'business in a box',\n    'done-for-you',\n    'done for you',\n    'passive income',\n    'keep 100% of the profits',\n    'affiliate campaign',\n    'resell rights',\n    'plr',\n    'autopilot business',\n    'book ninja',\n    'exit traffic network',\n    'guaranteed income',\n    '100% profit'\n  ];\n\n  let spamSignals = 0;\n  const matchedSignals = [];\n\n  for (const token of keywordSignals) {\n    if (messageLower.includes(token)) {\n      spamSignals += 1;\n      matchedSignals.push(token);\n    }\n  }\n\n  if (/(https?:\\/\\/|www\\.)/i.test(message)) {\n    spamSignals += 2;\n    matchedSignals.push('external_link');\n  }\n\n  if (/(youtube\\.com|youtu\\.be|bit\\.ly|tinyurl\\.com|t\\.me)/i.test(message)) {\n    spamSignals += 2;\n    matchedSignals.push('tracking_or_short_link');\n  }\n\n  if (message.length > 450) {\n    spamSignals += 1;\n    matchedSignals.push('long_marketing_copy');\n  }\n\n  if (/(no-?reply|mailer-daemon|donotreply)/i.test(emailLower)) {\n    spamSignals += 2;\n    matchedSignals.push('suspicious_sender');\n  }\n\n  const hardSpamPattern = /(private label rights|business in a box|keep 100% of the profits|done[- ]for[- ]you|passive income|resell rights)/i;\n  const isSpam = spamSignals >= 4 || hardSpamPattern.test(messageLower);\n\n  let aiParsed = {};\n  try {\n    const content = ($json.choices && $json.choices[0] && $json.choices[0].message)\n      ? $json.choices[0].message.content\n      : '';\n    aiParsed = typeof content === 'string' ? JSON.parse(content) : (content || {});\n  } catch (e) {\n    aiParsed = {};\n  }\n\n  const aiScoreRaw = aiParsed && aiParsed.score !== undefined ? aiParsed.score : '';\n  const aiPriorityRaw = aiParsed && aiParsed.priority ? aiParsed.priority : '';\n  const aiReasonRaw = aiParsed && aiParsed.reason ? aiParsed.reason : '';\n\n  const aiScoreNumber = Number(aiScoreRaw);\n  const aiHasScore = Number.isFinite(aiScoreNumber);\n  const aiPriority = (aiPriorityRaw || '').toString().toLowerCase();\n  const aiHasPriority = ['hot', 'warm', 'cold'].includes(aiPriority);\n  const aiHasReason = !!(aiReasonRaw || '').toString().trim();\n\n  const intentPattern = /(quote|proposal|budget|timeline|book|call|meeting|discovery|need help|automation|integrat|crm|project|hire|support)/i;\n  const hasIntent = intentPattern.test(messageLower);\n\n  const fallbackScore = hasIntent ? 72 : 35;\n  const fallbackPriority = hasIntent ? 'warm' : 'cold';\n  const fallbackReason = hasIntent\n    ? 'Rule fallback: clear business intent and concrete service request.'\n    : 'Rule fallback: low intent or incomplete inquiry.';\n\n  const useFallback = !isSpam && (!aiHasScore || !aiHasPriority || !aiHasReason);\n\n  const leadScore = isSpam ? 5 : (useFallback ? fallbackScore : aiScoreNumber);\n  const leadPriority = isSpam ? 'cold' : (useFallback ? fallbackPriority : aiPriority);\n  const leadScoreReason = isSpam\n    ? ('Spam override triggered: ' + (matchedSignals.slice(0, 4).join(', ') || 'promo pattern'))\n    : (useFallback ? fallbackReason : aiReasonRaw);\n\n  let aiError = '';\n  try {\n    if ($json.error) {\n      aiError = typeof $json.error === 'string'\n        ? $json.error\n        : ($json.error.message || '');\n    }\n  } catch (e) {\n    aiError = '';\n  }\n\n  let aiScoringStatus = 'ok';\n  if (isSpam) {\n    aiScoringStatus = 'ok_spam_override';\n  } else if (useFallback) {\n    aiScoringStatus = 'ok_fallback_rules';\n  } else if ($json.error) {\n    aiScoringStatus = 'error';\n  }\n\n  return {\n    name: lead.name || '',\n    email: lead.email || '',\n    company: lead.company || '',\n    message: lead.message || '',\n    timestamp: lead.timestamp || '',\n    source: lead.source || '',\n    userAgent: lead.userAgent || '',\n    referrer: lead.referrer || '',\n    leadScore,\n    leadPriority,\n    leadScoreReason,\n    spamFlag: isSpam ? 'true' : 'false',\n    spamSignals,\n    aiScoringStatus,\n    aiScoringError: aiError\n  };\n})() }}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        672,
        -440
      ],
      "id": "1b81c6fa-2e11-4a08-9db4-63a64a39d001",
      "name": "create scored fields"
    }
  ],
  "connections": {
    "send message to me": {
      "main": [
        [
          {
            "node": "send message to client",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "create fields": {
      "main": [
        [
          {
            "node": "send message to me",
            "type": "main",
            "index": 0
          },
          {
            "node": "score lead with ai",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "form submission from pave systems": {
      "main": [
        [
          {
            "node": "create fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "score lead with ai": {
      "main": [
        [
          {
            "node": "create scored fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "create scored fields": {
      "main": [
        [
          {
            "node": "log lead to sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "active": true
}
